*{
    margin: 0;
    padding: 0;
  }
    body{
        background: url(https://i.loli.net/2020/09/28/mlREyUVpjGXMNOi.jpg)
}
h1{
  font-family: 隶书;
  position: relative;
  text-align: center;
  font-size: 80px;
  margin-top: 200px;
}
